<div class="cover-container d-flex h-100 w-100 p-3 mx-auto flex-column">
        <main class="px-3">
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative"> 
            <%= render 'sites/form' %>
          </div>
        </main>
</div>
