<%= turbo_frame_tag "modal" do %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @attendee.first_name %> <%= @attendee.last_name %></h5>
      <p class="card-text">QR Code here</p>
      
    </div>
  </div>

<% end %>