<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @guest %>
    
  <% if user_signed_in? %>
    <% if current_user.role_id == 1 %>
      <%= link_to "Edit this guest", edit_guest_path(@guest), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this guest", guest_path(@guest), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
        <%= link_to "Back to guests", guests_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    <% end %>  
  <% end %>
</div>
