<h1>Editing proxy instruction</h1>

<%= render "form", proxy_instruction: @proxy_instruction %>

<br>

<div>
  <%= link_to "Show this proxy instruction", @proxy_instruction %> |
  <%= link_to "Back to proxy instructions", proxy_instructions_path %>
</div>
