<h1>Editing type of share</h1>

<%= render "form", type_of_share: @type_of_share %>

<br>

<div>
  <%= link_to "Show this type of share", @type_of_share %> |
  <%= link_to "Back to type of shares", type_of_shares_path %>
</div>
