<h1>You're Invited!</h1>
<p>Hello, <%= @guest.first_name %>!</p>
<p>We're excited to invite you to our event. Please click the link below to update your details:</p>
<a href="<%= @update_link %>">Update your details</a>
<p>Thank you!</p>