<p>Hello</p>

<p>
  You are invited to our event. Please use the link below to update your details:
</p>

<p><%= link_to "Update your details", Guest.first %></p>

<p>Thanks,</p>
<p>Your Event Team</p>