<h1>Editing dietary restriction</h1>

<%= render "form", dietary_restriction: @dietary_restriction %>

<br>

<div>
  <%= link_to "Show this dietary restriction", @dietary_restriction %> |
  <%= link_to "Back to dietary restrictions", dietary_restrictions_path %>
</div>
