<h1>Editing setting attendee</h1>

<%= render "form", setting_attendee: @setting_attendee %>

<br>

<div>
  <%= link_to "Show this setting attendee", @setting_attendee %> |
  <%= link_to "Back to setting attendees", setting_attendees_path %>
</div>
