<%= turbo_frame_tag "attendees" do %>
  <ui class="contacts">
    <div class="d-flex bd-highlight">
      <div class="user_info">
        <%= render attendees %>
      </div>
    </div>
  </ul> 
<% end %>



