<p style="color: green"><%= notice %></p>

<h1>Invitation responses</h1>

<div id="invitation_responses">
  <% @invitation_responses.each do |invitation_response| %>
    <%= render invitation_response %>
    <p>
      <%= link_to "Show this invitation response", invitation_response %>
    </p>
  <% end %>
</div>

<%= link_to "New invitation response", new_invitation_response_path %>
