<h1>Editing invitation response</h1>

<%= render "form", invitation_response: @invitation_response %>

<br>

<div>
  <%= link_to "Show this invitation response", @invitation_response %> |
  <%= link_to "Back to invitation responses", invitation_responses_path %>
</div>
