<div id="<%= dom_id industry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= industry.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this industry", industry, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this industry", edit_industry_path(industry), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
