<h1>Editing proxy type</h1>

<%= render "form", proxy_type: @proxy_type %>

<br>

<div>
  <%= link_to "Show this proxy type", @proxy_type %> |
  <%= link_to "Back to proxy types", proxy_types_path %>
</div>
