<h1>Editing event invitation</h1>

<%= render "form", event_invitation: @event_invitation %>

<br>

<div>
  <%= link_to "Show this event invitation", @event_invitation %> |
  <%= link_to "Back to event invitations", event_invitations_path %>
</div>
