<h1>Editing customer type</h1>

<%= render "form", customer_type: @customer_type %>

<br>

<div>
  <%= link_to "Show this customer type", @customer_type %> |
  <%= link_to "Back to customer types", customer_types_path %>
</div>
