
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div id="<%= dom_id invitation_rsvp %>">
      <h2 class="card-subtitle mb-2 text-body-secondary">
        <%= invitation_rsvp.customer.name %>
      </h2>
      <p class="card-text">
        <strong>Invitation response:</strong>
        <%= invitation_rsvp.invitation_response.name %>
      </p>
      <p class="card-text">
        <strong>Dietary restriction:</strong>
        <%= invitation_rsvp.dietary_restriction.name %>
      </p>
    </div>
  </div>
</div> <br/>

