<div id="<%= dom_id customer_type %>">
  <p>
    <strong>Name:</strong>
    <%= customer_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= customer_type.description %>
  </p>

</div>
