<turbo-frame id="new_checkins">
  <div class="container">
    <div class="row">
      <div class="col">
          <%= render "checkins", checkins: @checkins %>    
      </div>
    </div>
  </div>  
</turbo-frame>
